@model Product

@{
    ViewBag.Title = "Details";
}

@Html.DisplayForModel("_ViewProduct")

<p>
    @Html.ImageActionLink("edit", "Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
