@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Employee Grid Example - KendoGridBinderEx MVC Demo - Paul Jame</title>
    <script src="/Scripts/modernizr-2.8.3.js"></script>

    <link href="/Content/kendo/2014.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="/Content/kendo/2014.1.318/kendo.uniform.min.css" rel="stylesheet" />
    <link href="/Content/kendo/2014.1.318/kendo.silver.min.css" rel="stylesheet" />

    <link href="/Content/themes/base/all.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/jquery-2.1.1.js"></script>

    <script src="/Scripts/bootstrap.js"></script>

    <script src="/Scripts/jquery-ui-1.11.2.js"></script>

    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/jquery.validation-extra.js"></script>
    <script src="/Scripts/jquery.validation-extra2.js"></script>

    <script src="/Scripts/common.js"></script>

    <script src="/Scripts/kendoExtensions.js"></script>
    <script src="/Scripts/kendo/2014.1.528/kendo.all.min.js"></script>
    <script src="/Scripts/kendo/2014.1.528/kendo.aspnetmvc.min.js"></script>
</head>
<body>
    <h3>All Employees Paul Jame</h3>
    <div id="grid"></div>
    <br />
    <script type="text/javascript">

        $(document).ready(function () {
            var employeeDataSource = {
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 10,
                transport: {
                    type: (function () { if (kendo.data.transports['aspnetmvc-ajax']) { return 'aspnetmvc-ajax'; } else { throw new Error('The kendo.aspnetmvc.min.js script is not included.'); } })(),
                    read: {
                        type: 'post',
                        dataType: 'json',
                        url: '@Url.Action("GridPaulJame")'
                    },
                    parameterMap: function (options) {
                        if (options.filter) {
                            KendoGrid_FixFilter(employeeDataSource, options.filter);
                        }
                        return options;
                    }
                },
                schema: {
                    data: 'Data',
                    total: 'Total',
                    model: {
                        id: 'Id',
                        fields: {
                            CompanyName: { type: 'string' },
                            MainCompanyName: { type: 'string' },
                            Number: { type: 'number' },
                            First: { type: 'string' },
                            LastName: { type: 'string' },
                            Full: { type: 'string' },
                            Email: { type: 'string' },
                            HireDate: { type: 'date' },
                            CountryCode: { type: 'string' },
                            IsManager: { type: 'boolean' },
                            FunctionCode: { type: 'string' },
                            SubFunctionCode: { type: 'string' },
                            Assigned: { type: 'number' },
                            IsAssigned: { type: 'boolean' }
                        }
                    }
                }
            };

            jQuery(function () {
                jQuery("#grid").kendoGrid({
                    "columns": [
                        { "title": "Id", "hidden": false, "field": "Id", "filterable": { "messages": { "info": "Exibir linhas com valores que", "isTrue": "É verdade", "isFalse": "É falso", "filter": "Filtrar", "clear": "Limpar", "and": "E", "or": "Ou", "operator": "Operador", "value": "Valor", "cancel": "Cancelar" }, "operators": { "string": { "eq": "É igual a", "neq": "Não é igual a", "startswith": "Começa com", "endswith": "Termina com", "contains": "Contém", "doesnotcontain": "Não contém" }, "number": { "eq": "É igual a", "neq": "Não é igual a", "gte": "É maior que ou igual a", "gt": "É maior que", "lte": "É menor que ou igual a", "lt": "É menor que" }, "date": { "eq": "É igual a", "neq": "Não é igual a", "gte": "É posterior ou igual a", "gt": "É posterior a", "lte": "É anterior ou igual a", "lt": "É anterior a" }, "enums": { "eq": "É igual a", "neq": "Não é igual a" } } }, "encoded": true },
                        { "title": "First", "field": "First", "filterable": { "messages": { "info": "Exibir linhas com valores que", "isTrue": "É verdade", "isFalse": "É falso", "filter": "Filtrar", "clear": "Limpar", "and": "E", "or": "Ou", "operator": "Operador", "value": "Valor", "cancel": "Cancelar" }, "operators": { "string": { "eq": "É igual a", "neq": "Não é igual a", "startswith": "Começa com", "endswith": "Termina com", "contains": "Contém", "doesnotcontain": "Não contém" }, "number": { "eq": "É igual a", "neq": "Não é igual a", "gte": "É maior que ou igual a", "gt": "É maior que", "lte": "É menor que ou igual a", "lt": "É menor que" }, "date": { "eq": "É igual a", "neq": "Não é igual a", "gte": "É posterior ou igual a", "gt": "É posterior a", "lte": "É anterior ou igual a", "lt": "É anterior a" }, "enums": { "eq": "É igual a", "neq": "Não é igual a" } } }, "encoded": true },
                        { "title": "LastName", "field": "LastName", "filterable": { "messages": { "info": "Exibir linhas com valores que", "isTrue": "É verdade", "isFalse": "É falso", "filter": "Filtrar", "clear": "Limpar", "and": "E", "or": "Ou", "operator": "Operador", "value": "Valor", "cancel": "Cancelar" }, "operators": { "string": { "eq": "É igual a", "neq": "Não é igual a", "startswith": "Começa com", "endswith": "Termina com", "contains": "Contém", "doesnotcontain": "Não contém" }, "number": { "eq": "É igual a", "neq": "Não é igual a", "gte": "É maior que ou igual a", "gt": "É maior que", "lte": "É menor que ou igual a", "lt": "É menor que" }, "date": { "eq": "É igual a", "neq": "Não é igual a", "gte": "É posterior ou igual a", "gt": "É posterior a", "lte": "É anterior ou igual a", "lt": "É anterior a" }, "enums": { "eq": "É igual a", "neq": "Não é igual a" } } }, "encoded": true }
                    ],
                    "groupable": { "messages": { "empty": "Arraste aqui o cabeçalho de uma coluna para agrupar por esta coluna" } },
                    "pageable": {
                        "pageSizes": [1, 5, 10, 20],
                        "buttonCount": 10,
                        "messages": { "display": "Exibindo itens {0} - {1} de {2}", "empty": "Nenhum registro encontrado.", "page": "Página", "of": "de {0}", "itemsPerPage": "itens por página", "first": "Ir para a primeira página", "previous": "Vá para a página anterior", "next": "Ir para a próxima página", "last": "Ir para a última página", "refresh": "Atualizar", "morePages": "Mais páginas" }
                    },
                    "sortable": true,
                    "scrollable": false,
                    "dataSource": employeeDataSource
                });
            });
        });
    </script>
    
    <script type="text/javascript">
        KendoDataSource_Functions = {
            transport: {
                read: {
                    url: '/Function/GetFunctionsAsJson',
                    dataType: "json"
                }
            }
        };

        KendoDataSource_SubFunctions = {
            transport: {
                read: {
                    url: '/SubFunction/GetSubFunctionsAsJson',
                    dataType: "json"
                }
            }
        };

        KendoDataSource_SubFunctionsByFunction = {
            transport: {
                read: {
                    url: '/SubFunction/GetSubFunctionsByFunctionIdAsJson',
                    dataType: "json",
                    data: {
                        functionId: "1"
                    }
                }
            }
        };
    </script>
    
    <script async type="text/javascript" id="mini-profiler" src="/mini-profiler-resources/includes.js?v=sudYtmATCtlvvgsiJ+ijDWT8sy88Fx31VI8aPQ/CYM8=" data-version="sudYtmATCtlvvgsiJ+ijDWT8sy88Fx31VI8aPQ/CYM8=" data-path="/mini-profiler-resources/" data-current-id="26c1a971-fd4e-48dc-834b-9f7b7c9c60c6" data-ids="3a7a81bb-be9e-42be-a3d5-dead53fc67da,1c4962af-0c25-40c2-b448-4caa282a1344,8e9970f1-6d80-472e-b0f0-a088daf33b70,26c1a971-fd4e-48dc-834b-9f7b7c9c60c6" data-position="right" data-trivial="false" data-children="false" data-max-traces="15" data-controls="false" data-authorized="true" data-toggle-shortcut="Alt+P" data-start-hidden="false" data-trivial-milliseconds="2"></script>
</body>
</html>