@{
    ViewBag.Title = "Employee Grid Example";
}

<h3>All Employees</h3>
Multi Column Sorting : <input id="multi" type="checkbox" checked="checked" /><br/><br/>
<div id="grid"></div>
<br/>
<div id="gridDetail"></div>

<script type="text/javascript">
       
    var KendoDataSource_EmployeeAutoComplete = {
        serverFiltering: true,
        serverPaging: true,
        serverSorting: true,
        pageSize: 10,
        transport: {
            read: {
                url: '@Url.Action("KendoDataSource_EmployeeAutoComplete", "Employee")',
                dataType: "json"
            }
        }
    };
  
    $(document).ready(function () {
        $('#multi').click(function () {
            $("#grid").data("kendoGrid").options.sortable.mode = $(this).is(":checked") ? "multiple" : "single";
        });
        
        function onChange(arg) {
            var thiz = this;
            console.log("ss");
            $.map(this.select(), function (item) {
                var selectedEmployeeId = JSON.stringify(thiz.dataItem(item).id);
                console.log(selectedEmployeeId);
                var filters = new Array();
                filters.push({ field: "Id", operator: "eq", value: selectedEmployeeId });
                $("#gridDetail").data("kendoGrid").dataSource.filter(filters);
            });
        }
       
        var dataSource = {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 5,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("Grid")'
                },
                parameterMap: function (options) {
                    if (options.filter) {
                        KendoGrid_FixFilter(dataSource, options.filter);
                    }
                    return options;
                }
            },
            schema: {
                data: 'Data',
                total: 'Total',
                model: {
                    id: 'Id',
                    fields: {
                        Id: { type: 'number' },
                        CompanyName: { type: 'string' },
                        MainCompanyName: { type: 'string' },
                        Number: { type: 'number' },
                        First: { type: 'string' },
                        LastName: { type: 'string' },
                        Full: { type: 'string' },
                        Email: { type: 'string' },
                        HireDate: { type: 'date' },
                        CountryCode: { type: 'string' },
                        IsManager: { type: 'boolean' },
                        FunctionCode: { type: 'string' },
                        SubFunctionCode: { type: 'string' },
                        Assigned: { type: 'number' }
                    }
                }
            }
        };
        
        var dataSourceDetails = {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("GridDetails")'
                },
                parameterMap: function (options) {
                    if (options.filter) {
                        KendoGrid_FixFilter(dataSource, options.filter);
                    }
                    return options;
                }
            },
            schema: {
                data: 'Data',
                total: 'Total',
                model: {
                    id: 'Id',
                    fields: {
                        Id: { type: 'number' },
                        CompanyName: { type: 'string' },
                        MainCompanyName: { type: 'string' },
                        Number: { type: 'number' },
                        First: { type: 'string' },
                        LastName: { type: 'string' },
                        Full: { type: 'string' },
                        Email: { type: 'string' },
                        HireDate: { type: 'date' },
                        CountryCode: { type: 'string' },
                        IsManager: { type: 'boolean' },
                        FunctionCode: { type: 'string' },
                        SubFunctionCode: { type: 'string' },
                        Assigned: { type: 'number' }
                    }
                }
            }
        };

        $('#grid').kendoGrid({
            dataSource: dataSource,
            selectable: "single",
            change: onChange,
            height: '240px',
            columns: [
                { field: 'Id',  hidden: true },
                { field: 'Number', title: 'Employee #' },
                { field: 'First', title: 'FirstName', filterable: { ui: function (element) { KendoGridFilterAutoComplete(element, KendoDataSource_EmployeeAutoComplete, "First"); } }  },
                { field: 'LastName', title: 'LastName', filterable: { ui: function (element) { KendoGridFilterAutoComplete(element, KendoDataSource_EmployeeAutoComplete, "LastName"); } } },
                { field: 'Full', title: 'FullName' }
            ],
            filterable: {
                extra: true
            },
            sortable: {
                mode: 'multiple',
                allowUnsort: true
            },
            pageable: {
                refresh: true,
                pageSizes: true
            }
        });
        
        $('#gridDetail').kendoGrid({
            dataSource: dataSourceDetails,
            autoBind: false,
            height: '75px',
            columns: [
                { field: 'Id', hidden: true },
                { field: 'Number', title: 'Employee #' },
                { field: 'CompanyName', title: 'Company' },
                { field: 'MainCompanyName', title: 'Main Company' },
                { field: 'Email' },
                { field: 'HireDate', title: 'Hire Date', format: _DefaultDateTemplate, filterable: { ui: KendoGridFilterDatePicker } },
                { field: 'CountryCode', title: 'Country' },
                { field: "IsManager", title: "Manager", template: "<input type=\"checkbox\" disabled='disabled' #= IsManager ? checked='checked' : '' # class=\"check_row\"/>" },
                {
                    field: 'FunctionCode', title: 'Function', filterable: {
                        extra: false,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to"
                            }
                        },
                        ui: function (element) { KendoGridFilterDropDownList_Function(element, "Code", "Code"); }
                    }
                },
                {
                    field: 'SubFunctionCode', title: 'SubFunction', filterable: {
                        extra: false,
                        operators: {
                            string: {
                                eq: "Is equal to",
                                neq: "Is not equal to"
                            }
                        },
                        ui: function (element) { KendoGridFilterDropDownList_SubFunction(element, "Code", "Code"); }
                    }
                },
                { field: 'Assigned', title: 'Assigned' }
            ],
            filterable: true
        });
    });
</script>