@{
    ViewBag.Title = "Employee Grid Example";
}

<h3>All Employees Grouped (fixed with aggregates : count, min, max, average and sum)</h3>
Multi Column Sorting : <input id="multi" type="checkbox" checked="checked" />
<div id="gridWithGroup"></div>
<br/>

<script type="text/javascript">
    $(function () {
        $("#buttonAdd").button({
            icons: {
                primary: "ui-icon-add"
            },
            text: true
        });
    });

    $(document).ready(function () {
        $('#multi').click(function () {
            $("#gridWithGroup").data("kendoGrid").options.sortable.mode = $(this).is(":checked") ? "multiple" : "single";
        });
        
        var dataSourceWithGroup = {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            serverGrouping: true,
            pageSize: 10,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("GridWithGroup")'
                },
                parameterMap: function (options) {
                    if (options.filter) {
                        KendoGrid_FixFilter(dataSourceWithGroup, options.filter);
                    }
                    return options;
                }
            },
            schema: {
                groups: 'Groups',
                aggregates: 'Aggregates',
                data: 'Data',
                total: 'Total',
                model: {
                    id: 'Id',
                    fields: {
                        CompanyName: { type: 'string' },
                        MainCompanyName: { type: 'string' },
                        Number: { type: 'number' },
                        First: { type: 'string' },
                        LastName: { type: 'string' },
                        Full: { type: 'string' },
                        Email: { type: 'string' },
                        HireDate: { type: 'date' },
                        CountryCode: { type: 'string' },
                        IsManager: { type: 'boolean' },
                        FunctionCode: { type: 'string' },
                        SubFunctionCode: { type: 'string' },
                        Assigned: { type: 'number' }
                    }
                }
            },
            group: [{
                field: "CompanyName", aggregates: [
                    { field: "CompanyName", aggregate: "count" },
                    { field: "Number", aggregate: "min" },
                    { field: "Number", aggregate: "max" },
                    { field: "Number", aggregate: "average" },
                    { field: "Number", aggregate: "sum" }
                ]
            }]
        };

        $('#gridWithGroup').kendoGrid({
            dataSource: dataSourceWithGroup,
            height: '600px',
            columns: [
                {
                    field: 'Id', width: '100px', filterable: false, sortable: false, title: ' ',
                    template:
                       '<a href="/Employee/Details/#=Id#"><img class=iconLink src=/Content/Images/view.png></a>' + '&nbsp;' +
                       '<a href="/Employee/Edit/#=Id#"><img class=iconLink src=/Content/Images/edit.png></a>' +
                       '<a href="/Employee/Delete/#=Id#"><img class=iconLink style=padding-right:0px src=/Content/Images/delete.png></a>'
                },
                { field: 'CompanyName', title: 'Company', groupFooterTemplate: "Count: #= count#"},
                { field: 'MainCompanyName', title: 'Main Company'},
                { field: 'Number', title: 'Employee #', groupFooterTemplate: "Min: #= min#<br>Max: #= max#<br>Avg: #= average#<br>Sum: #= sum #" },
                { field: 'First', title: 'First' },
                { field: 'LastName', title: 'Last', groupHeaderTemplate: "LastName : #= value#" },
                { field: 'Full', title: 'FullName' },
                { field: 'Email' },
                { field: 'HireDate', title: 'Hire Date', format: _DefaultDateTemplate, filterable: { ui: KendoGridFilterDatePicker } },
                { field: 'CountryCode', title: 'Country' },
                { field: 'FunctionCode', title: 'Function' },
                { field: 'SubFunctionCode', title: 'SubFunction' }
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: {
                refresh: true,
                pageSizes: true
            }
        });
    });
</script>