@{
    ViewBag.Title = "Employee Grid Example";
}

<h3>All Managers</h3>
<div id="gridManagers"></div>
<br/>

<script type="text/javascript">
    $(document).ready(function () {
        var dataSourceManagers = {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 5,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: '@Url.Action("GridManagers")'
                }
            },
            schema: {
                data: 'Data',
                total: 'Total',
                model: {
                    id: 'Id',
                    fields: {
                        Number: { type: 'number' },
                        First: { type: 'string' },
                        Last: { type: 'string' },
                        Full: { type: 'string' },
                        Email: { type: 'string' },
                        HireDate: { type: 'date' },
                        FunctionCode: { type: 'string' },
                        SubFunctionCode: { type: 'string' }
                    }
                }
            }
        };
       
        $('#gridManagers').kendoGrid({
            dataSource: dataSourceManagers,
            columns: [
                { field: 'Number', title: 'Employee #' },
                { field: 'First', title: 'FirstName' },
                { field: 'LastName', title: 'Last' },
                { field: 'Full', title: 'FullName' },
                { field: 'Email' },
                { field: 'HireDate', title: 'Hire Date' }
            ],
            filterable: true,
            sortable: {
                mode: 'multiple'
            },
            pageable: true
        });
    });
</script>