@{
    ViewBag.Title = "Countries Grid Example";
}

<h3>All Countries</h3>
<div id="grid"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var url = '@Url.Action("Grid")';

        var dataSource = new kendo.data.DataSource({
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            pageSize: 1000,
            transport: {
                read: {
                    type: 'post',
                    dataType: 'json',
                    url: url
                }
            },
            schema: {
                data: 'Data',
                total: 'Total',
                model: {
                    id: 'Id',
                    fields: {
                        Code: { type: 'string' },
                        Name: { type: 'string' }
                    }
                }
            }
        });

        $('#grid').kendoGrid({
            dataSource: dataSource,
            height: '200px',
            width: '400px',
            columns: [
                {
                    field: 'Id', width: '90px', filterable: false, sortable: false, title: ' ',
                },
                { field: 'Code' },
                { field: 'Name' }
            ],
            filterable: true,
            sortable: {
                mode: 'single'
            },
            pageable: {
                refresh: true,
                pageSizes: false
            }
        });
    });
</script>
<br/>
<form action="/Country/Upload" method="post" enctype="multipart/form-data">

    <label for="file">Excel file:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="Upload" />
</form>