/* main layout */
html
{
    overflow-y:scroll;
    font:75% Arial,Helvetica,sans-serif;
}

.content-wrapper
{
    margin: 0 auto;
    max-width: 1280px;
}

#body
{
    background-color: #efeeef;
    clear: both;
    padding-bottom: 10px;
}

.main-content
{
    padding-left: 10px;
    padding-top: 5px;
}

header .content-wrapper
{
    padding-top: 10px;
}

footer
{
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 20px;
}

a
{
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited, a:active, a:hover
    {
        color: #333;
    }

    a:hover
    {
        background-color: #c7d1d6;
    }

h1, h2, h3, h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active
    {
        padding: 0;
        text-decoration: none;
    }

/* site title */
.site-title
{
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 1.1em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active
    {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }

/* menu 
ul#menu
{
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li
    {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a
        {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover
            {
                color: #333;
                text-decoration: none;
            }
    */

/* forms */
fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend
    {
        display: none;
    }

    fieldset ol
    {
        padding: 0;
        list-style: none;
    }

        fieldset ol li
        {
            padding-bottom: 5px;
        }

label
{
    display: block;
    /*font-size: 1.2em;*/
    font-weight: 600;
}

    label.checkbox
    {
        display: inline;
    }

input, textarea
{
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    /* font-size: 1.2em;*/
    margin: 5px 0 6px 0;
    padding: 3px;
    /* width: 300px;*/
}

textarea
{
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus
    {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"]
{
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button
{
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    /*font-size: 1.2em;*/
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button
{
    /*font-size: 1em;*/
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info
{
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

/* validation */
.error
{
    color: #e80c4d;
}

.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input.input-validation-error
{
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error
{
    border: 0 none;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}

.iconLink
{
    position: relative;
    top: 3px;
    padding-right: 3px;
    border: 0;
}

.ui-button
{
    font-size: 10.5px;
}

.ui-button-text-only .ui-button-text
{
    padding: .1em .6em .2em;
}

.text-button 
{
    padding-left: 3px;
}

.buttonAdd > span.ui-icon-add
{
    background-image: url('Images/add.png');
}

.buttonSearch > span.ui-icon-add
{
    background-image: url('Images/search.gif');
}

.buttonAccept > span.ui-icon-add
{
    background-image: url('Images/accept.png');
}

.buttonRefresh > span.ui-icon-add
{
    background-image: url('Images/arrow_refresh.png');
}

.buttonExcel > span.ui-icon-add
{
    background-image: url('Images/excel_16x16.png');
}

table, td
{
    font: 12px Arial, Helvetica, sans-serif;
}

.k-state-active .k-active-filter
{
    background-color: #5c87b2;
}

.loading
{
    height: 120px;
    background: url('Images/loading_100x100.gif') no-repeat #fff;
}