@using KendoGridBinderEx.Examples.MVC.Extensions
@model KendoGridBinderEx.Examples.MVC.Models.EmployeeVM

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginPostForm("form")) {
    //@Html.ValidationSummary()

    @Html.HiddenFor(model => model.Id)
    @Html.EditorForModel("_EditEmployee")

    <p>
        @Html.SubmitFormLink("save", "Save") |
        @Html.ActionLink("Back to List", "Index")
    </p>
}